# TypeScript
*.d.ts linguist-language=TypeScript

# Auto detect text files and perform LF normalization
* text=auto

# Defold Project Settings
*.project linguist-language=INI
*.script_api linguist-language=YAML

# Exclude files from archive
_docs export-ignore
.github export-ignore
.husky export-ignore
.vscode export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.prettierignore export-ignore
.prettierrc.json export-ignore
tsconfig.json export-ignore
yarn.lock export-ignore
commitlint.config.mjs export-ignore
